<share-navTop [currentPageName]="'myLog'"></share-navTop>

<!--内容-->
<div class="content">
  <div nz-col [nzXs]="8" [nzSm]="8" [nzMd]="8" class="content_left">
    <div class="panel">
      <div class="panel-top">
        <h2>关于我</h2>
      </div>
      <div class="panel-bottom"></div>
    </div>
    <div class="panel">
      <div class="panel-top">
        <h2>关于我</h2>
      </div>
      <div class="panel-bottom"></div>
    </div>
    <div class="panel">
      <div class="panel-top">
        <h2>关于我</h2>
      </div>
      <div class="panel-bottom"></div>
    </div>
    <div class="panel">
      <div class="panel-top">
        <h2>关于我</h2>
      </div>
      <div class="panel-bottom"></div>
    </div>
  </div>
  <div nz-col [nzXs]="16" [nzSm]="16" [nzMd]="16" class="content_right">
    <div nz-row class="content_right_content">
      <button nz-button [routerLink]="['/myLog/edit']">写日志</button>
    </div>
    <div *ngIf="blogs.length">
      <div nz-row class="content_right_content" *ngFor="let item of blogs">
        <div nz-col [nzXs]="17" [nzSm]="17" [nzMd]="17">
          <h2><a href="javascript:;" [routerLink]="['/myLog/view']">{{item.title}}</a></h2>
          <p>{{item.content}}</p>
        </div>
        <div nz-col [nzOffset]="1" [nzXs]="6" [nzSm]="6" [nzMd]="6" style="overflow: hidden">
          <img src="../../../assets/images/1.jpg" alt="图片飞了" style="width: 100%;">
        </div>
      </div>
    </div>
    <!--<div nz-row class="content_right_content">-->
      <!--<div nz-col [nzXs]="17" [nzSm]="17" [nzMd]="17">-->
        <!--<h2><a href="javascript:;">你是什么人便会遇上什么人</a></h2>-->
        <!--<p>有时就为了说一句狠话，像心头一口毒钉，永远麻痹这亲密感交流。恶言，真要慎出，平日多诚心爱语乃最简易之布施</p>-->
      <!--</div>-->
      <!--<div nz-col [nzOffset]="1" [nzXs]="6" [nzSm]="6" [nzMd]="6" style="overflow: hidden">-->
        <!--<img src="../../../assets/images/1.jpg" alt="图片飞了" style="width: 100%;">-->
      <!--</div>-->
    <!--</div>-->
    <!--<div nz-row class="content_right_content">-->
      <!--<div nz-col [nzXs]="17" [nzSm]="17" [nzMd]="17">-->
        <!--<h2><a href="javascript:;">你是什么人便会遇上什么人</a></h2>-->
        <!--<p>有时就为了说一句狠话，像心头一口毒钉，永远麻痹这亲密感交流。恶言，真要慎出，平日多诚心爱语乃最简易之布施</p>-->
      <!--</div>-->
      <!--<div nz-col [nzOffset]="1" [nzXs]="6" [nzSm]="6" [nzMd]="6" style="overflow: hidden">-->
        <!--<img src="../../../assets/images/1.jpg" alt="图片飞了" style="width: 100%;">-->
      <!--</div>-->
    <!--</div>-->
    <!--<div nz-row class="content_right_content">-->
      <!--<div nz-col [nzXs]="17" [nzSm]="17" [nzMd]="17">-->
        <!--<h2><a href="javascript:;">你是什么人便会遇上什么人</a></h2>-->
        <!--<p>有时就为了说一句狠话，像心头一口毒钉，永远麻痹这亲密感交流。恶言，真要慎出，平日多诚心爱语乃最简易之布施</p>-->
      <!--</div>-->
      <!--<div nz-col [nzOffset]="1" [nzXs]="6" [nzSm]="6" [nzMd]="6" style="overflow: hidden">-->
        <!--<img src="../../../assets/images/1.jpg" alt="图片飞了" style="width: 100%;">-->
      <!--</div>-->
    <!--</div>-->
    <!--<div nz-row class="content_right_content">-->
      <!--<div nz-col [nzXs]="17" [nzSm]="17" [nzMd]="17">-->
        <!--<h2><a href="javascript:;">你是什么人便会遇上什么人</a></h2>-->
        <!--<p>有时就为了说一句狠话，像心头一口毒钉，永远麻痹这亲密感交流。恶言，真要慎出，平日多诚心爱语乃最简易之布施</p>-->
      <!--</div>-->
      <!--<div nz-col [nzOffset]="1" [nzXs]="6" [nzSm]="6" [nzMd]="6" style="overflow: hidden">-->
        <!--<img src="../../../assets/images/1.jpg" alt="图片飞了" style="width: 100%;">-->
      <!--</div>-->
    <!--</div>-->
    <!--<div nz-row class="content_right_content">-->
      <!--<div nz-col [nzXs]="17" [nzSm]="17" [nzMd]="17">-->
        <!--<h2><a href="javascript:;">你是什么人便会遇上什么人</a></h2>-->
        <!--<p>有时就为了说一句狠话，像心头一口毒钉，永远麻痹这亲密感交流。恶言，真要慎出，平日多诚心爱语乃最简易之布施</p>-->
      <!--</div>-->
      <!--<div nz-col [nzOffset]="1" [nzXs]="6" [nzSm]="6" [nzMd]="6" style="overflow: hidden">-->
        <!--<img src="../../../assets/images/1.jpg" alt="图片飞了" style="width: 100%;">-->
      <!--</div>-->
    <!--</div>-->
  </div>
</div>
