<!--&lt;!&ndash; NG-ZORRO &ndash;&gt;-->
<!--&lt;!&ndash;<a href="https://github.com/NG-ZORRO/ng-zorro-antd" target="_blank" style="display: flex;align-items: center;justify-content: center;height: 100%;width: 100%;">&ndash;&gt;-->
  <!--&lt;!&ndash;<img height="300" src="https://img.alicdn.com/tfs/TB1NvvIwTtYBeNjy1XdXXXXyVXa-89-131.svg">&ndash;&gt;-->
<!--&lt;!&ndash;</a>&ndash;&gt;-->
<!--<button nz-button [nzGhost]="true">幽灵按钮</button>-->
<!--<button nz-button [nzLoading]="false">载入按钮</button>-->
<!--<button nz-button [nzType]="'primary'" [nzShape]="'circle'" [nzSize]="'large'">nzShape</button>-->
<!--<button nz-button [nzType]="'danger'">按钮</button>-->
<router-outlet></router-outlet>
