<!--导航-->
<share-navTop [currentPageName]="'index'"></share-navTop>

<!--内容-->
<div class="content">
  <div nz-col [nzXs]="8" [nzSm]="8" [nzMd]="8" class="content_left">
      <div class="panel">
        <div class="panel-top">
          <h2>关于我</h2>
        </div>
        <div class="panel-bottom"></div>
      </div>
    <div class="panel">
      <div class="panel-top">
        <h2>关于我</h2>
      </div>
      <div class="panel-bottom"></div>
    </div>
    <div class="panel">
      <div class="panel-top">
        <h2>关于我</h2>
      </div>
      <div class="panel-bottom"></div>
    </div>
    <div class="panel">
      <div class="panel-top">
        <h2>关于我</h2>
      </div>
      <div class="panel-bottom"></div>
    </div>
  </div>
  <div nz-col [nzXs]="16" [nzSm]="16" [nzMd]="16" class="content_right"></div>
</div>
