/* You can add global styles to this file, and also import other style files */
@import '../node_modules/ng-zorro-antd/src/ng-zorro-antd.min.css';

html,body {
  width: 100%;
}

body {
  background-color: #EFEEEF;
  height: 2000px;
}

li {
  list-style-type: none;
}
