<!--导航-->
<share-navTop [currentPageName]="'myLog'"></share-navTop>

<div class="content">
  <div class="view" nz-row>
    <div class="view-top">
      <h1>标题</h1>
      <p>2018-07-29</p>
    </div>
    <div class="view-bottom">
      <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dicta, ducimus incidunt itaque molestias nemo nihil quae quidem voluptatem? Eveniet fuga hic id in magni minima praesentium quidem temporibus voluptates!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium consequuntur cumque distinctio dolore error eveniet expedita illo incidunt molestiae nobis quidem quo, quos sunt veniam vero voluptas voluptatibus voluptatum?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias consequatur laboriosam laborum minima nobis quia quo repellendus. Exercitationem reprehenderit sit, sunt suscipit tempora unde voluptatem? Dolor quibusdam rerum vel.
      </div>
    </div>
  </div>
</div>
